<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script id="allmobilize" charset="utf-8" th:src="@{static/js/allmobilize.min.js}"></script>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate" media="handheld"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>无限创想人才招聘平台</title>
    <script type="text/javascript">
        var ctx = "h";
    </script>
    <link rel="shortcut icon" th:href="@{static/img/html.ico}" type="image/x-icon"/>
    <link rel="Shortcut Icon" href="h/images/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/external.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/popup.css}"/>
    <script th:src="@{static/js/jquery.1.10.1.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{static/js/jquery.lib.min.js}"></script>
    <script th:src="@{static/js/ajaxfileupload.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{static/js/additional-methods.js}"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" th:src="@{static/js/excanvas.js}"></script>
    <![endif]-->
    <script type="text/javascript">
        var youdao_conv_id = 271546;
    </script>
    <script type="text/javascript" th:src="@{static/js/homebannner.js}"></script>
    <script type="text/javascript" th:src="@{static/js/conv.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.js"></script>
</head>
<body>
<div id="body" style="background-color: #f0f0f0;">
    <div id="header">
        <div class="wrapper">
            <a href="home" class="logo">
                <img th:src="@{static/img/logo_home.png}" width="229" height="43"/>
            </a>
            <ul class="reset" id="navheader">
                <li class="current"><a th:href="@{'/home'}">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                <li><a th:href="@{'/jobSearch'}">职位搜索</a></li>
                <li><a th:href="@{'/redirNews'}">职业资讯</a></li>
                <li><a th:href="@{'/forum'}" rel="nofollow">交流论坛</a></li>
                <li><a th:href="@{'/userInfoPage'}" rel="nofollow">我的信息</a></li>
            </ul>
            <ul class="loginTop" th:if="${session.user == null && session.company == null}">
                <li><a th:href="@{'/redirLogin'}" rel="nofollow">登录</a></li>
                <li>|</li>
                <li><a th:href="@{'/redirRegister'}" rel="nofollow">注册</a></li>
            </ul>
            <ul class="loginTop" th:if="${session.user != null}">
                <li><a th:text="${session.user.getNickName()}"></a></li>
                <li>|</li>
                <li><a rel="nofollow" onclick="javascript:logoutC();">注销</a></li>
            </ul>
            <ul class="loginTop" th:if="${session.company != null}">
                <li><a>企业用户</a></li>
                <li>|</li>
                <li><a rel="nofollow" onclick="javascript:logoutC();">注销</a></li>
            </ul>
        </div>
    </div>
    <div class="content4">
        <div class="content3">
            <div id="block_job">
                <div style="height:156px;width: 1024px;margin-top: 20px;">
                    <div style="width: 165px;height: 123px;float: right;text-align: center;margin-top: 70px;">
                    <span>
                        <a href="#" ka="all-jobs-top">
                            <b style="font-size: 38px;color: #ffffff; margin-top: 20px; ">立即沟通</b>
                        </a>
                    </span>
                    </div>
                    <div style="width: 160px;height: 115px;float:left;text-align: center;margin-top: 30px;">
                        <img th:src="@{'static/img/jobLogo/' + ${Job.getJobID()} + '.jpg'}" width="125" height="115"
                             alt="公司loGO"/>
                    </div>
                    <div style="width: auto;height: 123px;text-indent: 1em;float:left;text-align: center;margin-top: 40px;">
                        <h1 class="name" style="color: #FFFFFF" th:text="${Job.JobName}">Java工程师</h1>
                        <p style="color: #FFFFFF; width: 300px">
                            <span th:text="${Job.JobSalary} + ' | '">8K-9K&nbsp;|</span>
                            <span th:text="${Job.JobCity} + ' | ' ">&nbsp;北京&nbsp;|</span>
                            <span th:text="${Job.JobExperience} + ' | ' ">&nbsp;3-5年&nbsp;|</span>
                            <span th:text="${Job.JobEduDegree}">&nbsp;本科</span></p>
                    </div>
                </div>
            </div>
            <style>
                .ui-autocomplete {
                    width: 488px;
                    background: #fafafa !important;
                    position: relative;
                    z-index: 10;
                    border: 2px solid #89b0de;
                }

                .ui-autocomplete-category {
                    font-size: 16px;
                    color: #999;
                    width: 50px;
                    position: absolute;
                    z-index: 11;
                    right: 0px; /*top: 6px; */
                    text-align: center;
                    border-top: 1px dashed #e5e5e5;
                    padding: 5px 0;
                }

                .ui-menu-item {
                    *width: 439px;
                    vertical-align: middle;
                    position: relative;
                    margin: 0px;
                    margin-right: 50px !important;
                    background: #fff;
                    border-right: 1px dashed #ededed;
                }

                .ui-menu-item a {
                    display: block;
                    overflow: hidden;
                }

            </style>
            <script type="text/javascript" th:src="@{static/js/search.min.js}"></script>
        </div>
    </div>

    <div id="container2">
        <div class="job-box" style="height: auto;">
            <div class="content_left" style="height: 1050px;">
                <dl>
                    <dt>
                        <div class="detail-op">
                            <div class="detail-figure">
                                <img src="https://img.bosszhipin.com/boss/avatar/avatar_6.png?x-oss-process=image/resize,w_100,limit_0 "
                                     height="70px" width="75px" alt=""/>
                            </div>
                            <div style="margin-top: 20px;padding-top: 4px;">
                                <h2 class="name" style="text-indent: 1em;font-size: 20px;font-weight: bolder;margin-top: 20px;" th:text="${Job.JobHr}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王先生</h2>
                            </div>


                        </div>
                    </dt>
                </dl>
                <div class="job-block" style="height:auto;">
                    <div class="job_info_title2" style="font-size: 22px;width: 110px;">职位描述：</div>
                    <div class="text" style="margin-top: 20px;font-size: 16px;line-height: 1.5;" >
                        <p style="font-size: 16px;line-height: 1.5;display: -webkit-box;
                                -webkit-box-orient: vertical; -webkit-line-clamp: 5; overflow: hidden;
                                text-indent: 2em" th:text="${Job.JobInfo}"></p>
                    </div>
                </div>
                <div class="job-block">
                    <div class="job_info_title2" style="font-size: 22px;width: 110px;">公司介绍：</div>
                    <div class="text" style="margin-top: 20px;" >
                        <p style="font-size: 16px;line-height: 1.5;display: -webkit-box;
                                -webkit-box-orient: vertical; -webkit-line-clamp: 5; overflow: hidden;
                                text-indent: 2em" th:text="${Company.CompanyInfo}"></p>
                    </div>
                </div>
                <div class="job-block">
                    <div class="job_info_title2" style="font-size: 22px;width: 110px;margin-bottom: 10px;">公司地址：</div>
                    <div class="job-location-address">
                        <span style="margin-bottom: 20px;font-size: medium;display:block;"
                              th:text="${Company.CompanyAddress}">
                            <img th:src="@{static/img/address.png}" width="20" height="23" alt="vip"/>&nbsp;
                            西安市 雁塔区 华为西安研究所</span>
                        <div class="job-location-map js-open-map" style="margin-top: 10px;" data-content="西安市 雁塔区 华为西安研究所">
                            <img th:src="@{'static/img/map/' + ${Company.getCompanyID()} + '.png'}"
                                 width="700px" alt="公司地址"/>
                        </div>
                    </div>
                </div>
                <input id="jobid" th:value="${Job.getJobID()}" hidden="hidden"/>
                <input id="companyid" th:value="${Job.getCompanyID()}" hidden="hidden"/>
                <div class="job-block">
                    <div class="job_info_title2" style="font-size: 22px;width: 110px;margin-top: 20px;">申请职位：</div>
                    <div th:if="${session.user} == null" >
                        <center>
                        <input type="button" style="padding: 0 22px;font-size: 20px;height: 43px;line-height: 43px;
                        background-image: none;margin-top: 25px;background-color: #011d56;
                        color: white; width: 200px; text-align: center" value="申请职位" onclick="NotLogin()"/>
                        </center>
                    </div>
                    <div th:if="${session.user} != null">
                        <center>
                        <input type="button" style="padding: 0 22px;font-size: 20px;height: 43px;line-height: 43px;
                        background-image: none;margin-top: 25px;background-color: #011d56;
                        color: white; width: 200px; text-align: center" value="申请职位" onclick="jobApply(this)"/>
                        </center>
                    </div>
                </div>
            </div>
            <div class="content_r" style="height: 1050px;">
                <div class="more_job_title" style="margin: 0px;text-align: left;border-bottom: 0px;">
                    <h4>
                        <a th:href="@{'/jobSearch'}" rel="nofollow" ka="more-similar-jobs2"
                           class="more"><strong>更多相似职位</strong></a>
                    </h4>
                </div>
                <div>
                    <ul style="padding: 0px;">
                        <ol class="info-block" style="padding-left: 0px;margin-right: 20px;width: auto;height: auto;"
                            th:each="similarJob : ${similarJobList}">
                            <div class="company-logo" style="padding-left: 60px;">
                                <a ka="job_sug_brand2_custompage" th:href="@{/jobInfo(JobID=${similarJob.getJobID()})}"
                                   title="航天科工网络信息">
                                    <img th:src="@{'static/img/jobLogo/' + ${similarJob.getJobID()} + '.jpg'}"
                                         style="width: 100px;height: 100px" alt=""/>
                                </a>
                            </div>
                            <div class="info-primary" style="margin-top: 10px;text-align: center;">
                                <div class="name" style="text-align: center; font-size: 18px;">
                                    <a ka="job_sug_2"
                                       th:href="@{/jobInfo(JobID=${similarJob.getJobID()})}"
                                       th:text="${similarJob.getJobName()}">
                                        大数据解决方案
                                    </a>
                                        <p style="color: red;font-size: 14px;" th:text="${similarJob.getJobSalary()}">15-25K</p>
                                </div>
                                <p class="gray" style="width: auto;font-size: 14px;">
                                    <a ka="job_sug_brandjob2_custompage"
                                       th:href="@{/jobInfo(JobID=${similarJob.getJobID()})}" title="航天科工网络信息招聘">
                                        <span style="color: gray" th:text="${similarJob.getJobEduDegree()}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;航天科工</span>
                                    </a><em class="vdot">·</em>
                                    <span style="color: gray" th:text="${similarJob.getJobCity()}">西安</span>
                                </p>
                            </div>
                        </ol>
                    </ul>
                </div>
            </div>

            <div class="content_bottom">
                <div class="job_info_title"
                     style="font-size: 23px;padding-left: 8px;padding-top: 10px;padding-bottom: 10px;">推荐职位
                </div>
                <div class="slider-main">
                    <ul class="ul_box">
                        <li class="cur">
                            <a ka="job_recommend_1"
                               class="recommend-li" th:each="map : ${CompanyJobMap}"
                               th:href="@{/jobInfo(JobID=${map.value.getJobID()})}">
                                <div class="name" style="font-size: 18px;" th:text="${map.value.getJobName()}">
                                    DSP控制软件开发工程师
                                </div>
                                <div class="red" style="font-size: 14px;" th:text="${map.value.getJobSalary()}">10-15K
                                </div>

                                <p style="font-size: 14px;font-size: smaller;color: gray;"
                                   th:text="${map.key.getCompanyName()}">
                                    神西电气</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content_bottom_right"></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript" th:src="@{static/js/Chart.min.js}"></script>
    <script type="text/javascript" th:src="@{static/js/home.min.js}"></script>
    <script type="text/javascript" th:src="@{static/js/count.js}"></script>
    <div class="clear"></div>
    <input type="hidden" id="resubmitToken" value=""/>
    <a id="backtop" title="回到顶部" rel="nofollow"></a>
</div>
</div>
<div id="footer">
    <div id="linkbox">
        <dl>
            <dt style="font-size:20px;">友情链接</dt>
            <dd>
                <a href="http://www.zhuqu.com/" target="_blank">住趣家居网</a> <span>|</span>
                <a href="http://www.woshipm.com/" target="_blank">人人都是产品经理</a> <span>|</span>
                <a href="http://zaodula.com/" target="_blank">互联网er的早读课</a> <span>|</span>
                <a href="http://lieyunwang.com/" target="_blank">猎云网</a> <span>|</span>
                <a href="http://www.ucloud.cn/" target="_blank">UCloud</a> <span>|</span>
                <a href="http://www.iconfans.com/" target="_blank">iconfans</a> <span>|</span>
                <a href="http://www.html5dw.com/" target="_blank">html5梦工厂</a> <span>|</span>
                <a href="http://www.sykong.com/" target="_blank">手游那点事</a>
                <a href="http://www.php100.com/" target="_blank">php100</a> <span>|</span>
                <a href="http://www.uehtml.com/" target="_blank">uehtml</a> <span>|</span>
                <a href="http://www.w3cplus.com/" target="_blank">W3CPlus</a> <span>|</span>
                <a href="http://www.boxui.com/" target="_blank">盒子UI</a> <span>|</span>
                <a href="http://www.uimaker.com/" target="_blank">uimaker</a> <span>|</span>
                <a href="http://www.yixieshi.com/" target="_blank">互联网的一些事</a> <span>|</span>
                <a href="http://www.chuanke.com/" target="_blank">传课网</a> <span>|</span>
                <a href="http://www.eoe.cn/" target="_blank">安卓开发</a> <span>|</span>
                <a href="http://www.eoeandroid.com/" target="_blank">安卓开发论坛</a>
                <a href="http://hao.360.cn/" target="_blank">360安全网址导航</a> <span>|</span>
                <a href="http://se.360.cn/" target="_blank">360安全浏览器</a> <span>|</span>
                <a href="http://www.hao123.com/" target="_blank">hao123上网导航</a> <span>|</span>
                <a href="http://www.ycpai.com" target="_blank">互联网创业</a><span>|</span>
            </dd>
        </dl>
    </div>
    <div class="dt-footer-bottom">
        <div class="dt-footer-info">
            <span class="dt-footer-icp">Copyright ©2020 wuxiancx.com 版权所有</span>
        </div>
    </div>
</div>

<script th:src="@{static/js/mouse-click.js}"></script>
<canvas width="100%" height="100%"
        style="position: fixed; left: 0px; top: 0px; z-index: 2147483647; pointer-events: none;"></canvas>
<script type="text/javascript" th:src="@{static/js/core.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/popup.min.js}"></script>
<script>
    function logoutC() {
        swal({
                title: "确定注销吗？",
                text: "您将退出登录！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.href = "logout";
                }
            });
    }
    function NotLogin() {
        swal({
                title: "您还没有登录",
                text: "登录（仅个人用户）才能提交申请哦！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#011d56",
                confirmButtonText: "去登录",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.href = "redirLogin";
                }
            });
    }
</script>
<script type="text/javascript">

    function jobApply() {
        swal({
                title: "是否申请该职位？",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#011d56",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function (isConfirm) {
                if (isConfirm) {
                    var JobID = $("#jobid").val();
                    var CompanyID = $("#companyid").val();
                    console.log(JobID + "-" + CompanyID);
                    var url = "jobApply";
                    var data = {
                        JobID: JobID,
                        CompanyID: CompanyID
                    }
                    $.post(url, data, function (result) {
                        if(result != null && result.code === 200){
                            swal({
                                    title: "申请成功",
                                    type: "success",
                                    confirmButtonColor: "#011d56",
                                },
                                function(isConfirm){
                                    if (isConfirm) {
                                        location.reload();
                                    }
                                });
                        }
                        else if(result != null && result.code === -1){
                            swal({
                                    title: "未上传简历",
                                    text: "您还没有上传简历，请上传简历后重新申请",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#011d56",
                                    confirmButtonText: "去上传",
                                    cancelButtonText: "取消",
                                    closeOnConfirm: false,
                                },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.href = "myCV";
                                    }
                                });
                        }
                        else{
                            swal({
                                title: "申请失败",
                                text: "请重新申请",
                                type: "error",
                                confirmButtonColor: "#011d56"
                            });
                        }
                    })
                }
            });
    }
</script>
</body>
</html>