<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="alternate" media="handheld"  />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>无限创想人才招聘平台</title>
	<meta property="qc:admins" content="23635710066417756375" />
	<meta name="baidu-site-verification" content="QIQ6KC1oZ6" />
	<script type="text/javascript">
		var ctx = "h";
		console.log(1);
	</script>
	<link rel="Shortcut Icon" href="h/images/favicon.ico">
	<link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{static/css/index.css}"/>
	<script src="../static/js/jquery.1.10.1.min.js" th:src="@{static/js/jquery.1.10.1.min.js}" type="text/javascript"></script>
	<script type="text/javascript" src="../static/js/jquery.lib.min.js" th:src="@{static/js/jquery.lib.min.js}"></script>
	<script type="text/javascript" th:src="@{static/js/core.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.js"></script>
	<script type="text/javascript">
		var youdao_conv_id = 271546;
	</script>
	<script type="text/javascript" th:src="@{static/js/conv.js}"></script>
</head>

<body onkeydown="keyLogin()">
<main>
	<div class="login_box_btm"></div>
	<div id="overlay"></div>
	<ul id="scene">
		<li class="layer" data-depth="0.1">
			<div class="layer1"></div>
		</li>
		<li class="layer" data-depth="0.2">
			<div class="layer2"></div>
		</li>
	</ul>
	<div class="login_wrapper">
		<div class="login_header">
			<a href="home"><img th:src="@{static/img/logo_white.png}" width="285" height="62" alt="无限创想" /></a>
			<div id="cloud_s"><img th:src="@{static/img/cloud_s.png}" width="81" height="52" alt="cloud" /></div>
			<div id="cloud_m"><img th:src="@{static/img/cloud_m.png}" width="136" height="95"  alt="cloud" /></div>
		</div>

		<input type="hidden" id="resubmitToken" value="" />
		<div class="login_box">
			<form id="loginForm">
				<ul class="register_radio clearfix">
					<li>
						企&nbsp;&nbsp;业
						<input type="radio" value="0" name="type" />
					</li>
					<li>
						个&nbsp;&nbsp;人
						<input type="radio" value="1" name="type" />
					</li>
				</ul>
				<input type="text" id="email" name="email" tabindex="1" placeholder="请输入登录邮箱地址" />
				<input type="password" id="password" name="password" tabindex="2" placeholder="请输入密码" />
				<span class="error" style="display:none;" id="beError"></span>
				<label class="fl" for="remember"><input type="checkbox" id="remember" value="" name="autoLogin" /> 记住我</label>
				<a href="reset" class="fr" target="_blank">忘记密码？</a>

				<a id="submit" style="color:#fff;margin-left:80px;" class="submitLogin" title="登 &nbsp; &nbsp; 录" onclick="javascript:return formCheck()">登 &nbsp; &nbsp; 录</a>

				<input type="hidden" id="callback" name="callback" value=""/>
				<input type="hidden" id="authType" name="authType" value=""/>
				<input type="hidden" id="signature" name="signature" value=""/>
				<input type="hidden" id="timestamp" name="timestamp" value=""/>
			</form>
			<div class="login_right"><br>
				<img th:src="@{static/img/login_ico.png}" width="130" height="120"/><br>
				<div>还没有帐号？</div>
				<a  th:href="@{'/redirRegister'}" class="registor_now">立即注册</a>
			</div>
		</div>
	</div>
</main>

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script th:src="@{static/js/jquery.parallax.min.js}"></script>
<script>
	$(document).ready(function () {
		$('#scene').parallax();
	});
</script>

<script type="text/javascript">

	$(function() {
		getCookie();
	})

	$(document).ready(function(e) {
		$('.register_radio li input').click(function (e) {
			$(this).parent('li').addClass('current').append('<em></em>').siblings().removeClass('current').find('em').remove();
		});
	});

	function keyLogin(){
		if (event.keyCode === 13){
			document.getElementById("submit").click();
		}
	};

	function formCheck() {
		var email = document.getElementById('email').value;
		var password = document.getElementById('password').value;
		var type = document.getElementsByName('type');
		if (email === ""){
			swal({
				title: "邮箱不能为空",
				text: "请输入邮箱",
				type: "error",
				confirmButtonColor: "#011d56"
			});
			return false;
		}

		if (email.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) === -1){
			swal({
				title: "邮箱格式错误",
				text: "请输入有效的邮箱地址，如：youxiang@163.com",
				type: "error",
				confirmButtonColor: "#011d56"
			});
			return false;
		}

		if (password === ""){
			swal({
				title: "密码不能为空",
				text: "请输入密码",
				type: "error",
				confirmButtonColor: "#011d56"
			});
			return false;
		}

		for (var i = 0; i < type.length; i++) {
			if (type[i].checked) {
				return true;
			}
		}
		swal({
			title: "未选择登录身份",
			text: "请选择登录身份，企业/个人",
			type: "error",
			confirmButtonColor: "#011d56"
		});
		return false;
	}

	function setCookie(email, password) {
		var Then = new Date();
		Then.setTime(Then.getTime() + 7 * 24 * 60 * 60 * 1000);
		document.cookie = email + ":" + password + ";expires=" + Then.toGMTString();
	}

	function getCookie() {
		var cookieString = document.cookie.split(";");
		var empsd = cookieString[0].split(":");
		if (empsd[0] !== "" && empsd[1] !== "") {
			$("#email").val(empsd[0]);
			$("#password").val(empsd[1]);
			document.getElementById("remember").checked = true;
		}
	}
</script>
<script type="text/javascript">
	$("#submit").click(function () {
		if(formCheck() === true){
			var email = $("#email").val();
			var password = $("#password").val();
			var type = $('input[name="type"]:checked').val();
			var remember = $("#remember").is(':checked');
			var url = "tologin";
			var data = {
				"email": email,
				"password": password,
				"type": type
			}
			$.post(url, data, function (result) {
				if(result != null && result.code === 200){
					if(remember === true) {
						setCookie(email, password);
					}
					else {
						setCookie("", "");
					}
					if(type === "0"){
						window.location.href="home";
					}
					else {
						window.location.href="home";
					}
				}
				else{
					swal({
						title: "邮箱或密码错误",
						text: "请确认邮箱地址和密码是否正确",
						type: "error",
						confirmButtonColor: "#011d56"
					});
				}
			})
		}
	})
</script>
</body>
</html>