<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无限创想人才招聘平台</title>

    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{static/css/amazeui.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{static/css/core.css}"/>
    <link rel="stylesheet" th:href="@{static/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{static/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{static/css/page/typography.css}"/>
    <link rel="stylesheet" th:href="@{static/css/page/form.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.js"></script>
</head>
<body style="background-color:#F0F0F0;">
<div id="header">
    <div class="wrapper">
        <a th:href="@{'/home'}" class="logo">
            <img th:src="@{static/img/logo_home.png}" width="229" height="43"/>
        </a>
        <ul class="reset" id="navheader">
            <li><a th:href="@{'/home'}">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
            <li><a th:href="@{'/jobSearch'}">职位搜索</a></li>
            <li><a th:href="@{'/redirNews'}">职业资讯</a></li>
            <li><a th:href="@{'/forum'}" rel="nofollow">交流论坛</a></li>
            <li class="current"><a th:href="@{'/userInfoPage'}" rel="nofollow">我的信息</a></li>
        </ul>
    </div>
</div><!-- end #header -->

<div class="admin">
    <!--<div class="am-g">-->
    <!-- ========== Left Sidebar Start ========== -->
    <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
            <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas am-padding-0" id="admin-offcanvas" style="margin-top: 0;overflow-y: hidden;">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <!-- User -->
            <div class="user-box am-hide-sm-only" style="margin-top: 25px;">
                <div class="user-img">
                    <img th:src="@{'static/img/companyLogo/' + ${session.company.getCompanyID()} + '.jpg'}" alt="user-img" title="Mat Helme"
                         class="img-circle img-thumbnail img-responsive" onerror="this.src='static/img/userImg/default.jpg'">
                    <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i></div>
                </div>
                <br/>
                <span style="font-weight:bold; color:#89b0de" th:if="${session.company.getCompanyName()} == ''">企业用户</span>
                <span style="font-weight:bold; color:#89b0de" th:if="${session.company.getCompanyName()} != ''"
                      th:text="${session.company.getCompanyName()}"></span>，欢迎！
            </div>
            <!-- End User -->

            <ul class="am-list admin-sidebar-list">
                <li><a th:href="@{'/companyInfoPage'}"><span class="am-icon-home"></span>&nbsp;&nbsp;企业主页</a></li>
                <li class="admin-parent" style="font-size: 20px;font-weight: bold;">
                    <a th:href="@{'/companyInfo'}" class="am-cf" data-am-collapse="{target: '#collapse-nav1'}">
                        <span class="am-icon-file"></span>&nbsp;&nbsp;企业信息</a>
                </li>
                <li class="admin-parent">
                    <a th:href="@{'/companyJob'}" class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">
                        <span class="am-icon-table"></span>&nbsp;&nbsp;公司职位</a>
                </li>
                <li class="admin-parent">
                    <a th:href="@{'/companyCV'}" class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">
                        <span class="am-icon-archive"></span>&nbsp;&nbsp;收到简历</a>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}" onclick="javascript:logoutC();">
                        <span class="am-icon-power-off"></span>&nbsp;&nbsp;注销登录</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!--</div>
</div>
</div>-->
    <!-- ========== Left Sidebar end ========== -->


    <!--	<div class="am-g">-->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content1" style="font-size: 20px;">
            <div class="am-g">
                <!-- Row start -->
                <div class="am-u-sm-12">
                    <div class="card-box">

                        <form action="" class="am-form" data-am-validator>
                            <fieldset>
                                <legend style="font-size: 25px;">企业信息</legend>
                                <div class="am-form-group">
                                    <label>公司名称：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyName()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：&nbsp;&nbsp;</label>
                                    <span>******</span>
                                </div>

                                <div class="am-form-group">
                                    <label>公司电话：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyPhone()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>公司邮箱：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyEmail()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>公司法人：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyLegalPerson()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>公司性质：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyNature()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>公司类型：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyType()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>公司地址：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyAddress()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>企业文化：&nbsp;&nbsp;</label>
                                    <span th:text="${session.company.getCompanyCulture()}"></span>
                                </div>

                                <div class="am-form-group">
                                    <label>企业信息：&nbsp;&nbsp;</label>
                                    <span th:if="${session.company.getCompanyInfo()} != null">
                                        <div style="font-size: 20px;background-color: white;border: none;overflow:auto;
                                        width: 87%;height: 130px;display: inline-grid;">
                                            <span th:text="${session.company.getCompanyInfo()}"></span>
                                        </div>
                                    </span>
                                    <!--<span th:text="${session.company.getCompanyInfo()}"></span>-->
                                </div>

                                <a class="am-btn am-btn-secondary" type="submit"
                                   th:href="@{'/companyUpdateInfo'}" style="font-size: 25px;">修&nbsp;&nbsp;改&nbsp;&nbsp;信&nbsp;&nbsp;息</a>
                                <a class="am-btn am-btn-secondary"
                                   th:href="@{'/companyUpdatePasswd'}" style="font-size: 25px;float: right;">修&nbsp;&nbsp;改&nbsp;&nbsp;密&nbsp;&nbsp;码</a>
                            </fieldset>
                        </form>


                    </div>
                </div>
                <!-- Row end -->
            </div>


        </div>
    </div>
    <!-- end right Content here -->
    <!--</div>-->
</div>
</div>

<!-- navbar -->
<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

<script type="text/javascript" th:src="@{static/js/jquery-2.1.0.js}"></script>
<script type="text/javascript" th:src="@{static/js/amazeui.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/app.js}"></script>
<script type="text/javascript" th:src="@{static/js/blockUI.js}"></script>
<script>
    function logoutC() {
        swal({
                title: "确定注销吗？",
                text: "您将退出登录！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#011d56",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function(isConfirm){
                if (isConfirm) {
                    window.location.href="logout";
                }
            });
    }
</script>
</body>

</html>
