<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无限创想人才招聘平台</title>

    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{static/css/amazeui.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{static/css/core.css}"/>
    <link rel="stylesheet" th:href="@{static/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{static/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{static/css/page/typography.css}"/>
    <link rel="stylesheet" th:href="@{static/css/page/form.css}"/>
</head>
<body style="background-color:#F0F0F0;">
<div id="header">
    <div class="wrapper">
        <a th:href="@{'/home'}" class="logo">
            <img th:src="@{static/img/logo_home.png}" width="229" height="43"/>
        </a>
        <ul class="reset" id="navheader">
            <li><a th:href="@{'/home'}">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
            <li><a th:href="@{'/searchJob'}">职位搜索</a></li>
            <li><a th:href="@{'/redirNews'}">职业资讯</a></li>
            <li><a th:href="@{'/forum'}" rel="nofollow">交流论坛</a></li>
            <li class="current"><a th:href="@{'/userInfoPage'}" rel="nofollow">我的信息</a></li>
        </ul>
    </div>
</div><!-- end #header -->
<div class="admin">
    <!--<div class="am-g">-->
    <!-- ========== Left Sidebar Start ========== -->
    <!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
            <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas" style="margin-top: 0;overflow-y: hidden;">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <!-- User -->
            <div class="user-box am-hide-sm-only" style="margin-top: 25px;">
                <div class="user-img">
                    <img th:src="@{'static/img/companyLogo/' + ${session.company.getCompanyID()} + '.jpg'}" alt="user-img" title="Mat Helme"
                         class="img-circle img-thumbnail img-responsive" onerror="this.src='static/img/userImg/default.jpg'">
                    <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i></div>
                </div>
                <br/>
                <span style="font-weight:bold; color:#89b0de" th:if="${session.company.getCompanyName()} == ''">企业用户</span>
                <span style="font-weight:bold; color:#89b0de" th:if="${session.company.getCompanyName()} != ''"
                      th:text="${session.company.getCompanyName()}"></span>，欢迎！
            </div>
            <!-- End User -->

            <ul class="am-list admin-sidebar-list">
                <li><a th:href="@{'/companyInfoPage'}"><span class="am-icon-home"></span>&nbsp;&nbsp;企业主页</a></li>
                <li class="admin-parent">
                    <a th:href="@{'/companyInfo'}" class="am-cf" data-am-collapse="{target: '#collapse-nav1'}">
                        <span class="am-icon-file"></span>&nbsp;&nbsp;企业信息</a>
                </li>
                <li class="admin-parent" style="font-size: 20px;font-weight: bold;">
                    <a th:href="@{'/companyJob'}" class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">
                        <span class="am-icon-table"></span>&nbsp;&nbsp;公司职位</a>
                </li>
                <li class="admin-parent">
                    <a th:href="@{'/companyCV'}" class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">
                        <span class="am-icon-archive"></span>&nbsp;&nbsp;收到简历</a>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}" onclick="javascript:logoutC();">
                        <span class="am-icon-power-off"></span>&nbsp;&nbsp;注销登录</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!--</div>
</div>
</div>-->
    <!-- ========== Left Sidebar end ========== -->


    <!--	<div class="am-g">-->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content1" style="font-size: 20px;">
            <div class="am-g">
                <!-- Row start -->
                <div class="am-u-sm-12">
                    <div class="card-box">

                        <form action="" class="am-form" data-am-validator>
                            <fieldset>
                                <legend style="font-size: 25px;margin-bottom: 0;">职位信息</legend>
                                <input id="JobID" th:value="${job.JobID}" hidden="hidden">
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">职位名称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobName" name="JobName"
                                           placeholder="请输入职位名称"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 82%;font-size: 20px;"
                                           th:value="${job.JobName}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">职位薪资：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobSalary" name="JobSalary"
                                           placeholder="请输入职位薪资，单位为K/月，如：2-4K/月"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 82%;font-size: 20px;"
                                           th:value="${job.JobSalary}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">工作城市：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <!--<input type="text" id="JobCity" name="Job" placeholder="请选择工作城市"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 30%;font-size: 20px;"
                                           th:value="${job.JobCity}"/>-->
                                    <select  placeholder="请选择工作城市" id="ChooseJobCity"
                                             style="margin-top: 0;height: auto;display: inline-block;width: 30%;font-size: 20px;">
                                        <option value ="0" hidden>-------请选择工作城市-------</option>
                                        <option value ="北京">北京</option>
                                        <option value ="上海">上海</option>
                                        <option value ="广州">广州</option>
                                        <option value ="深圳">深圳</option>
                                        <option value ="成都">成都</option>
                                        <option value ="杭州">杭州</option>
                                        <option value ="武汉">武汉</option>
                                        <option value ="南京">南京</option>
                                        <option value ="青岛">青岛</option>
                                        <option value ="西安">西安</option>
                                        <option value ="重庆">重庆</option>
                                        <option value ="长春">长春</option>
                                        <option value ="长沙">长沙</option>
                                        <option value ="常州">常州</option>
                                        <option value ="东莞">东莞</option>
                                        <option value ="大连">大连</option>
                                        <option value ="大连">大连</option>
                                        <option value ="佛山">佛山</option>
                                        <option value ="福州">福州</option>
                                        <option value ="贵阳">贵阳</option>
                                        <option value ="哈尔滨">哈尔滨</option>
                                        <option value ="合肥">合肥</option>
                                        <option value ="海口">海口</option>
                                        <option value ="惠州">惠州</option>
                                        <option value ="金华">金华</option>
                                        <option value ="济南">济南</option>
                                        <option value ="嘉兴">嘉兴</option>
                                        <option value ="昆明">昆明</option>
                                        <option value ="廊坊">廊坊</option>
                                        <option value ="宁波">宁波</option>
                                        <option value ="南昌">南昌</option>
                                        <option value ="南宁">南宁</option>
                                        <option value ="南通">南通</option>
                                        <option value ="泉州">泉州</option>
                                        <option value ="石家庄">石家庄</option>
                                        <option value ="绍兴">绍兴</option>
                                        <option value ="沈阳">沈阳</option>
                                        <option value ="苏州">苏州</option>
                                        <option value ="天津">天津</option>
                                        <option value ="太原">太原</option>
                                        <option value ="台州">台州</option>
                                        <option value ="无锡">无锡</option>
                                        <option value ="温州">温州</option>
                                        <option value ="厦门">厦门</option>
                                        <option value ="烟台">烟台</option>
                                        <option value ="珠海">珠海</option>
                                        <option value ="中山">中山</option>
                                        <option value ="郑州">郑州</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <font style="font-weight: bold;">学历要求：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <!--<input type="text" id="JobEduDegree" name="JobEduDegree" placeholder="请选择学历要求"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 30%;font-size: 20px;"
                                           th:value="${job.JobEduDegree}"/>-->
                                    <select placeholder="请选择学历要求" id="ChooseJobEduDegree"
                                            style="margin-top: 0;height: auto;display: inline-block;width: 30%;font-size: 20px;">
                                        <option value ="0" hidden>-------请选择学历要求-------</option>
                                        <option value ="初中及以下">初中及以下</option>
                                        <option value ="高中">高中</option>
                                        <option value ="中专">中专</option>
                                        <option value ="大专">大专</option>
                                        <option value ="本科">本科</option>
                                        <option value ="硕士">硕士</option>
                                        <option value ="博士">博士</option>
                                        <option value ="无学历要求">无学历要求</option>
                                    </select>
                                </p>

                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">工作经验：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobExperience" name="JobExperience"
                                           placeholder="请输入工作经验要求,如：1年经验/1-3年经验/无需经验"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 82%;font-size: 20px;"
                                           th:value="${job.JobExperience}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">工作类型：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobFamily" name="JobFamily"
                                           placeholder="请输入工作类型，如：互联网"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 82%;font-size: 20px;"
                                           th:value="${job.JobFamily}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">招聘人数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobPersonNum" name="JobPersonNum"
                                           placeholder="请输入工作招聘人数，如：10-20人"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 82%;font-size: 20px;"
                                           th:value="${job.JobPersonNum}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">HR&nbsp;信&nbsp;息：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobHr" name="JobHr"
                                           placeholder="请输入HR的信息，如：姓名 电话"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 82%;font-size: 20px;"
                                           th:value="${job.JobHr}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">工作福利：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <input type="text" id="JobWelfare1" name="JobWelfare1"
                                           placeholder="请输入工作福利1（选填）"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 27%;font-size: 20px;"
                                           th:value="${job.JobWelfare1}"/>
                                    <input type="text" id="JobWelfare2" name="JobWelfare2"
                                           placeholder="请输入工作福利2（选填）"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 27%;font-size: 20px;"
                                           th:value="${job.JobWelfare2}"/>
                                    <input type="text" id="JobWelfare3" name="JobWelfare3"
                                           placeholder="请输入工作福利3（选填）"
                                           style="margin-top: 0;height: auto;display: inline-block;width: 27%;font-size: 20px;"
                                           th:value="${job.JobWelfare3}"/>
                                </p>
                                <p style="font-size:20px;margin-left: 24px;">
                                    <font style="font-weight: bold;">任职要求：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                                    <textarea id="JobInfo" name="JobInfo" placeholder="请输入任职要求"
                                              style="font-size: 20px;background-color: white;border: 1px solid #ccc;
                                              width: 82%;height: 160px;display: inline-grid;resize:none"
                                              th:text="${job.JobInfo}"></textarea>
                                </p>
                                <a class="am-btn am-btn-secondary" onclick="deleteJob()"
                                   style="font-size:25px;">删&nbsp;除&nbsp;职&nbsp;位</a>
                                <a id="subSubmit" class="am-btn am-btn-secondary" style="float: right;font-size: 25px;"
                                   onclick="javascript:return formCheck()">更&nbsp;新&nbsp;职&nbsp;位</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- navbar -->
<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

<script type="text/javascript" src="../assets/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript" src="../assets/js/blockUI.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.css">
<script type="text/javascript" src="https://cdn.bootcss.com/sweetalert/1.1.2/sweetalert.min.js"></script>
<script>
    $(document).ready(function (e) {
        var JobID = document.getElementById("JobID").value;
        var url = "getJobEduDegree";
        var data = {
            JobID: JobID
        }
        $.post(url, data, function (JobEduDegree) {
            if(JobEduDegree != null && JobEduDegree !== ""){
                var edu = document.getElementById("ChooseJobEduDegree");
                var ops = edu.options;
                for ( var i = 0; i < ops.length; i++) {
                    if (ops[i].value === JobEduDegree) {
                        ops[i].selected = true;
                    }
                }
            }
        })
        url = "getJobCity";
        $.post(url, data, function (JobCity) {
            if(JobCity != null && JobCity !== ""){
                var city = document.getElementById("ChooseJobCity");
                var ops = city.options;
                for ( var i = 0; i < ops.length; i++) {
                    if (ops[i].value === JobCity) {
                        ops[i].selected = true;
                        return;
                    }
                }
            }
        })
    });

    function formCheck() {
        var JobName = document.getElementById('JobName').value;
        var JobSalary = document.getElementById('JobSalary').value;
        var city = document.getElementById("ChooseJobCity");
        var index1 = city.selectedIndex;
        var JobCity = city.options[index1].value;
        var edu = document.getElementById("ChooseJobEduDegree");
        var index2 = edu.selectedIndex;
        var JobEduDegree = edu.options[index2].value;
        var JobExperience = document.getElementById('JobExperience').value;
        var JobFamily = document.getElementById('JobFamily').value;
        var JobPersonNum = document.getElementById('JobPersonNum').value;
        var JobHr = document.getElementById('JobHr').value;
        var JobWelfare1 = document.getElementById('JobWelfare1').value;
        var JobWelfare2 = document.getElementById('JobWelfare2').value;
        var JobWelfare3 = document.getElementById('JobWelfare3').value;
        var JobInfo = document.getElementById('JobInfo').value;
        if (JobName === ""){
            swal({
                title: "职位名称不能为空",
                text: "请输入职位名称",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobName.trim().length === 0){
            swal({
                title: "职位名称不能全部为空格",
                text: "请输入正确的职位名称",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobSalary === ""){
            swal({
                title: "职位薪资不能为空",
                text: "请输入职位薪资",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobSalary.trim().length === 0){
            swal({
                title: "职位薪资不能全部为空格",
                text: "请输入正确的职位薪资，如：2-4K/月",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobCity === null || JobCity === "" || JobCity === "0"){
            swal({
                title: "未选择工作城市",
                text: "请选择工作城市",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobEduDegree === null || JobEduDegree === "" || JobEduDegree === "0"){
            swal({
                title: "未选择学历要求",
                text: "请选择学历要求",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobExperience === ""){
            swal({
                title: "工作经验不能为空",
                text: "请输入工作经验，如：\n1年经验/1-3年经验/无需经验",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobExperience.trim().length === 0){
            swal({
                title: "工作经验不能全部为空格",
                text: "请输入正确的工作经验，如：\n1年经验/1-3年经验/无需经验",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobFamily === ""){
            swal({
                title: "工作类型不能为空",
                text: "请输入工作类型，如：互联网",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobFamily.trim().length === 0){
            swal({
                title: "工作类型不能全部为空格",
                text: "请输入正确的工作类型，如：互联网",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }if (JobPersonNum === ""){
            swal({
                title: "招聘人数不能为空",
                text: "请输入招聘人数，如：10-20人",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobPersonNum.trim().length === 0){
            swal({
                title: "招聘人数不能全部为空格",
                text: "请输入正确的招聘人数，如：10-20人",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobHr === ""){
            swal({
                title: "HR信息不能为空",
                text: "请输入HR的信息，如：姓名 电话",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobHr.trim().length === 0){
            swal({
                title: "HR信息不能全部为空格",
                text: "请输入正确的HR信息，如：姓名 电话",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobWelfare1 !== "" && JobWelfare1.trim().length === 0){
            swal({
                title: "工作福利1不能全部为空格",
                text: "如果有工作福利，请输入正确的福利内容",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobWelfare2 !== "" && JobWelfare2.trim().length === 0){
            swal({
                title: "工作福利2不能全部为空格",
                text: "如果有工作福利，请输入正确的福利内容",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobWelfare3 !== "" && JobWelfare3.trim().length === 0){
            swal({
                title: "工作福利3不能全部为空格",
                text: "如果有工作福利，请输入正确的福利内容",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobInfo === ""){
            swal({
                title: "任职要求不能为空",
                text: "请输入任职要求",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        if (JobInfo.trim().length === 0){
            swal({
                title: "任职要求不能全部为空格",
                text: "请输入正确的任职要求",
                type: "error",
                confirmButtonColor: "#011d56"
            });
            return false;
        }
        return true;
    }
    $("#subSubmit").click(function () {
        if(formCheck() === true){
            var JobID = document.getElementById('JobID').value;
            var JobName = document.getElementById('JobName').value;
            var JobSalary = document.getElementById('JobSalary').value;
            var city = document.getElementById("ChooseJobCity");
            var index1 = city.selectedIndex;
            var JobCity = city.options[index1].value;
            var edu = document.getElementById("ChooseJobEduDegree");
            var index2 = edu.selectedIndex;
            var JobEduDegree = edu.options[index2].value;
            var JobExperience = document.getElementById('JobExperience').value;
            var JobFamily = document.getElementById('JobFamily').value;
            var JobPersonNum = document.getElementById('JobPersonNum').value;
            var JobHr = document.getElementById('JobHr').value;
            var JobWelfare1 = document.getElementById('JobWelfare1').value;
            var JobWelfare2 = document.getElementById('JobWelfare2').value;
            var JobWelfare3 = document.getElementById('JobWelfare3').value;
            var JobInfo = document.getElementById('JobInfo').value;
            var url = "updateJob";
            var data = {
                JobID: JobID,
                JobName: JobName,
                JobSalary: JobSalary,
                JobCity: JobCity,
                JobEduDegree: JobEduDegree,
                JobExperience: JobExperience,
                JobFamily: JobFamily,
                JobPersonNum: JobPersonNum,
                JobHr: JobHr,
                JobWelfare1: JobWelfare1,
                JobWelfare2: JobWelfare2,
                JobWelfare3: JobWelfare3,
                JobInfo: JobInfo
            }
            $.post(url, data, function (flag) {
                if(flag){
                    window.location.href="companyJob";
                }
                else {
                    swal({
                        title: "更新失败",
                        text: "请确认输入内容并重试",
                        type: "error",
                        confirmButtonColor: "#011d56"
                    });
                }
            })
        }
    })
</script>
<script>
    function logoutC() {
        swal({
                title: "确定注销吗？",
                text: "您将退出登录！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#011d56",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function(isConfirm){
                if (isConfirm) {
                    window.location.href="logout";
                }
            });
    }
    function deleteJob() {
        swal({
                title: "确定删除该职位吗？",
                text: "删除职位后无法恢复",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#011d56",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function(isConfirm){
                if (isConfirm) {
                    var JobID = document.getElementById("JobID").value;
                    var url = "deleteJob";
                    var data = {
                        JobID: JobID
                    }
                    $.post(url, data, function (flag) {
                        if(flag)
                            window.location.href = "companyJob";
                        else{
                            swal({
                                title: "删除职位失败",
                                text: "请重试",
                                type: "error",
                                confirmButtonColor: "#011d56"
                            });
                        }
                    })
                }
            });
    }
</script>
</body>

</html>
